
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Notes</title>
    <link rel="stylesheet" href="note/static/style.css">
</head>
<body>
    <div class="notes-container">
        <h1>List of notes</h1>
        <div class="note-item">
            <div class="note-title">First note: meeting</div>
            <div class="note-content">Talking about project at 4 p.m.</div>
        </div>
        <div class="note-item">
            <div class="note-title">Second note: task</div>
            <div class="note-content">Write a request about change name of project</div>
        </div>
        <div class="note-item">
            <div class="note-title">Third note: Idea</div>
            <div class="note-content">Make new functional in the project</div>
        </div>
    </div>
</body>
</html>